{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
   
  </head>
  <body>
    <header>
          
      <nav class="flex justify-around bg-purple-900 text-white py-3">
        <h1>Even Management Platform</h1>
        <ul class="flex justify-end space-x-11">
          <li class="cursor-pointer hover:text-red-500">Home</li>
          <li class="cursor-pointer hover:text-red-500">Contact</li>
          <li class="cursor-pointer hover:text-red-500">About Us</li>
          <li class="cursor-pointer hover:text-red-500">Dashboard</li>
        </ul>
      </nav>
    </header>

   {% block content %}
     
   {% endblock content %}