{% include "header.html" %}
    <section class="featured-area">
        <div class="grid sm:grid-cols-4 gap-4 space-x-4 mx-auto w-2/3">
            <div class="col-span-3 mt-4">
                <h1 class="font-semibold text-amber-700">Featured Event</h1>
                <h1 class="text-3xl text-red-600 font-bold">{{detail.name}}</h1>
                <div class="img-box mt-2" style="height: 350px;">
                    {% load static %}
                    <img src="{% static 'img/helth.jpg' %}" alt="" style="width: 100%; height: 100%;">
                </div>
                <div class="box grid sm:grid-cols-3 gap-1 py-3">
                  <!-- all box-info -->
                    <div class="box-info p-3 space-x-2 flex items-center bg-gray-300">
                        <div class="flex items-center bg-purple-300" style="width: 30px; height: 30px; border-radius: 50%;">
                            <img src="{% static 'img/search.png' %}" class="w-4 mx-auto" alt="">
                        </div>
                        <div class="info-text leading-none">
                            <p class="text-sm text-gray-500">Even Date</p>
                            <p class="font-semibold">{{detail.due_date}}</p>
                        </div>
                    </div>
                    <!-- 2nd box info -->
                    <div class="box-info p-3 flex space-x-2 items-center bg-gray-300">
                        <div class="flex items-center bg-purple-300" style="width: 30px; height: 30px; border-radius: 50%;">
                            <img src="{% static 'img/search.png' %}" class="w-4 mx-auto" alt="">
                        </div>
                        <div class="info-text leading-none">
                            <p class="text-sm text-gray-500">Even Time</p>
                            <p class="font-semibold">{{detail.time}}</p>
                        </div>
                    </div>
                    <!-- 3rd box info -->
                    <div class="box-info p-3 flex items-center space-x-2 bg-gray-300">
                        <div class="flex items-center bg-purple-300" style="width: 30px; height: 30px; border-radius: 50%;">
                            <img src="{% static 'img/search.png' %}" class="w-4 mx-auto" alt="">
                        </div>
                        <div class="info-text leading-none">
                            <p class="text-sm text-gray-500">Even Location</p>
                            <p class="font-semibold">{{detail.location}}</p>
                        </div>
                    </div>
                    
                </div>
                <!-- paragraphs here -->
                 <div class="para-area py-4 text-gray-500">
                    <p>{{detail.description}}</p>
                 </div>
            </div>
            <!-- 2nd col -->
            <div class=""> </div>
        </div>
    </section>
    <footer class="footer-aera">
        <div class="footer-menu h-80">

        </div>
    </footer>

    
  </body>
</html>
